QWidget     { background: QLinearGradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #fff, stop: 1 #ccc); border-style: none; }
QLineEdit   { border-style: solid; border-color:black; border-width:1px; }
QPushButton { border-style: solid; border-color:black; border-width:1px; }